
div(class="slogan")
    b="Подключайся и играй на наших серверах!"
div(class="main-picture")
    img(src="images/main-picture.png")
div(class="description")
    p="Minecraft — компьютерная игра в стиле песочницы с открытым миром, в которой перед игроком не ставятся какие-либо определенные цели — игроки сами выбирают, что им делать в игре. Несмотря на это, игра содержит систему достижений — поощрительных наград за выполнение определенных действий."

