
div(class="contacts-wrapper")
    div(class="content-wrapper clearfix")
        div(class="slogan")
            b="Подключайся и играй на наших серверах!"
        div(class="admin-phone")
            span
                | Админ:
            div(class="phone-numbers")
                a(href="tel:+38(068) 333-22-10")
                    span
                        | +38(068) 333-22-10
                a(href="tel:+38(099) 750-50-50")
                    span
                        | +38(099) 750-50-50
            div(class="alms-phone")
                span
                    | По донату:
                a(href="tel:067-33-22-180")
                    span
                        | 067-33-22-180
