div(class="header")
    div(class="row clearfix")
        div(class="logo col-1-4")
            a(href="#")
                img(src="images/logo.png")
        div(class="contacts col-1-4 clearfix")
            div(class="admin-phone")
                span
                    |Админ:
                div(class="phone-numbers")
                    a(href="tel:+38(068) 333-22-10")
                        span
                            | +38(068) 333-22-10
                    a(href="tel:+38(099) 750-50-50")
                        span
                            | +38(099) 750-50-50
            div(class="alms-phone")
                span
                    | По донату:
                a(href="tel:067-33-22-180")
                    span
                        | 067-33-22-180
            div(class="skype")
                span
                    | Скайп:
                a(href="tel:minecraft-km7")
                    img(src="images/skype-icon.png")
                    span
                        | minecraft-km7
        div(class="buttons col-1-4")
            button(type="button" name="select server")
                span="Выбрать сервер"
            button(type="button")
                span="Случайный"
        div(class="picture col-1-4" name="random server")
            img(src="images/minecraft.png")